<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<body style="background-color:rgb(191, 240, 215)"></body>

<!--Dashboard-->
<head>
<body>
  <nav class="navbar fixed-top navbar-dark bg-success">
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-success p-4">
            <h2 class="text-white">Dashboard</h2>
            <span class="text-white">You Plan, They learn</span>
          </div>
          <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a href="/users/logout" class="btn btn-secondary">Logout</a>
              </li>
            </ul>
          </nav>
        </div>
        <nav class="navbar navbar-dark bg-success">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
    <a class="navbar-brand" href="/dashboard">Weekly Learning Activity Planner</a>
  </a>
</nav>
</head>
  <!--spacer-->
<div class="container"></div>
<div class="shadow-lg p-4 mb-4 bg-white"></div>
</div>

<div>
<style>
  * {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    padding: 30px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: rgb(155, 198, 155);
    width: 100%;
    padding: 20px;
  }
  </style>
  
  

</div>
  <div class="main">
    <h1>MEET THE TEAM</h1>
    <h3>Group Leader</h3>
    <img src="https://ibb.co/vz4TmjS"></div>
    <h4>Gianne Christoffe I. Mariano<br>System Administration<br> gcimariano@tip.edu.ph</h4>
    <div>Gianne is the Leader of our team, He is the one who distributed the Activities to each members </div>
    <div>and he's usually the one who would talk to our Professors when there are some issues, and  </div>
    <p>Handles our Group's Documentations, Hands-On Activity, and Project Documentations.</p>
    <br>

    <h3>Team Members:<br> Back-end Developer and Database</h3>
    <img src="https://ibb.co/KhgF0bK"></div>
    <h4>Ron Denzell D. Gil<br>System Administration<br> qrddpgil@tip.edu.ph</h4>
    <div>Denzell is the Back-end developer of the group, and acts as the Assistant Leader for the Group</div>
    <div>if Gianne's is not Available, He takes charge with leading the group in doing the tasks.</div>
    <p>He usually decides in managing the group, usually decides what to do at difficult situtations.</p>
    <br>
    
    <h3>Front-end Developers and Database</h3>
    <img src="https://ibb.co/WGr7hGs"></div>
    <h4>Andrean Miles T. Salangsang<br>System Administration<br> qamtsalangsang@tip.edu.ph</h4>
    <div>Miles is one of the Front-end Developer of the group, He is the one in charge of doing</div>
    <div>the other parts of the UI design. He is very motivated in doing things. He usually the one who </div>
    <p>cracks some jokes when the team is developing the webiste together to lighten up the mood.</p>
    
    <img src="https://ibb.co/n19hMqg"></div>
    <h4>Jervy B. Naldo<br>System Administration<br> qjbnaldo@tip.edu.ph</h4>
    <div>Jervy is one and last Front-end Developer of the team, He shares the Front-end project with</div>
    <div>Miles and usually collaborates with him in terms of createing the UI Design of our project.</div>
    <div>He is a quite a laid-back character, and often diffuses the situation when Denzell is going ham</div>
    <div>at one of our groupmate, that groupmate is already dropped.</div>
    <br>
  </div>
  </html>