<!DOCTYPE html>
<head>
<html lang="en">
  
  <body style="background-color:rgb(191, 240, 215)"></body>
  
<!--dashboard-->
<nav class="navbar fixed-top navbar-dark bg-success">
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-success p-4">
                <h2 class="text-white">Dashboard</h2>
                <span class="w3-text-white">You Plan, They learn</span>
              </div>
              <nav class="navbar navbar-expand-lg navbar-dark bg-success">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a href="/users/logout" class="btn btn-secondary">Logout</a>
                  </li>
                </ul>
              </nav>
            </div>
            <nav class="navbar navbar-dark bg-success">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>
        <a class="navbar-brand" href="/dashboard">Weekly Learning Activity Planner</a>
      </a>
    </nav>
<body>
  <!--spacer-->
<div class="container"></div>
<div class="shadow-lg p-4 mb-4 bg-white"></div>
</div>
<!--Welcome User/Logo-->
<div class="container"></div>
<div class="shadow-lg p-4 mb-6 bg-white"><img src="https://api.logo.com/api/v2/images?logo=logo_8ae974b3-c280-4dad-9b52-682f7c69ac06&format=webp&margins=0&quality=60&width=500&background=transparent&u=1671092579" class="image" width="100" height="60" class="d-inline-block align-top" alt="">Welcome <%= name %></div>
</div>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<h3>Activity Name</h3>
<input class="form-control form-control-lg" type="text" placeholder="Enter Actvity Name" aria-label=".form-control-lg example">
<h3>Activity No.</h3>
<input class="form-control form-control-lg" type="text" placeholder="Enter Activity No." aria-label=".form-control-lg example">
<h3>Course Code</h3>
<input class="form-control form-control-lg" type="text" placeholder="Enter Course Code" aria-label=".form-control-lg example">
<h3>Units</h3>
<input class="form-control form-control-lg" type="text" placeholder="Enter Units" aria-label=".form-control-lg example">
<h3>Professor</h3>
<input class="form-control form-control-lg" type="text" placeholder="Enter Professor Name" aria-label=".form-control-lg example">
<br>
<button>Submit</button>
<style>
.myBottom {
  margin-bottom: 100px;
  }
.myBottom{
  text-align: center;
  align-self: center;
  background-color: rgb(52, 243, 52);
}
.myBottom{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  scroll-padding-top: 40px;
}
</style>
</body>
</html>