<!DOCTYPE html>
<head>
<html lang="en">
  
  <body style="background-color:rgb(191, 240, 215)"></body>
  
<!--dashboard-->
<nav class="navbar fixed-top navbar-dark bg-success">
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-success p-4">
                <h2 class="text-white">Dashboard</h2>
                <span class="w3-text-white">You Plan, They learn</span>
              </div>
              <nav class="navbar navbar-expand-lg navbar-dark bg-success">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a href="/users/logout" class="btn btn-secondary">Logout</a>
                  </li>
                </ul>
              </nav>
            </div>
            <nav class="navbar navbar-dark bg-success">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>
        <a class="navbar-brand" href="/dashboard">Weekly Learning Activity Planner</a>
      </a>
    </nav>
<body>
  <!--spacer-->
<div class="container"></div>
<div class="shadow-lg p-4 mb-4 bg-white"></div>
</div>
<!--Welcome User/Logo-->
<div class="container"></div>
<div class="shadow-lg p-4 mb-6 bg-white"><img src="https://api.logo.com/api/v2/images?logo=logo_8ae974b3-c280-4dad-9b52-682f7c69ac06&format=webp&margins=0&quality=60&width=500&background=transparent&u=1671092579" class="image" width="100" height="60" class="d-inline-block align-top" alt="">Welcome <%= name %></div>
</div>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <style>
    .button1 {
      background-color: #0e9427;
      color: rgb(255, 251, 251);
      border-radius: 12px;
      padding: 0px 0px;
    }
    .solid{
      border-top: 5px solid rgb(0, 0, 0);
    }
    .table1{
      table-layout: fixed;
      background-color: #0e9427;
    }

    
    </style>
<div> 
<form>
  <h2>Create Activity</h2>

  <form>
    <div class="row">
    <div class="col-5 mb-3">
    <label for="sem">Semester and School Year:</label>
    <input type="text" id="semester" name="semester" placeholder="Enter Semester and School Year"><br>
    </div>

    <div class="col-5 mb-3">
    <label for="wk">Week Progression:</label>
    <input type="text" id="week" name="week" placeholder="Enter Week Progression"><br>
    </div>

    <div class="col-5 mb-3">
    <label for="act">Activity Number:</label>
    <input type="text" id="activity" name="activity" placeholder="Enter Activity Number"><br>
    </div>

    <div class="col-5 mb-3">
    <label for="cc">Course Code:</label>
    <input type="text" id="coursecode" name="coursecode" placeholder="Enter Course Code"><br>
    </div>

    <div class="col-5 mb-3">
    <label for="cd">Course Description:</label>
    <input type="text" id="coursedesc" name="coursedesc" placeholder="Enter Course Description"><br>
    </div>

    <div class="col-5 mb-3">
    <label for="mod">Module:</label>
    <input type="text" id="module" name="module" placeholder="Enter Module"><br>
    </div>

    <div class="col-5 mb-3">
    <label for="top">Topic:</label>
    <input type="text" id="topic" name="topic" placeholder="Enter Topic"><br>
    </div>

    <div class="col-5 mb-3">
    <label for="sec">Section:</label>
    <input type="text" id="section" name="section" placeholder="Enter Section"><br>
    </div>

    <div class="col-5 mb-3">
    <label for="schedule">Schedule:</label>
    <input type="text" id="schedule" name="schedule" placeholder="Enter Schedule"><br>
    </div>

    <div class="col-5 mb-3">
    <label for="unit">Units:</label>
    <input type="text" id="units" name="units" placeholder="Enter Units"><br>
    </div>

    <div class="col-5 mb-3">
    <label for="prof">Professor:</label>
    <input type="text" id="professor" name="professor" placeholder="Enter Professor Name"><br>
    </div>

    <button class="button1">Submit</button>
    
</div>
</div>
</div>  
</div>
<br>
<br>
<br>
<hr class="solid">

<div class="ui-block-b">
  <div class="ui-bar ui-bar-b" style="height:50px">
      <h2>Created Activity</h2>

      <div>
        <table class="table table-striped table-dark">
                    <thread>
                        <tr>
                            <th>Semester and School Year</th>
                            <th>Week Progression</th>
                            <th>Activity Number</th>
                            <th>Course Code</th>
                            <th>Course Description</th>
                            <th>Module</th>
                            <th>Topic</th>
                            <th>Section</th>
                            <th>Schedule</th>
                            <th>Units</th>
                            <th>Professor</th>
                        </tr>
                    </thread>
                    <tbody class="activity-list">
                        <tr>
                            <td>Dear</td>
                            <td>Programmer</td>
                            <td>25</td>
                            <td>2</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>8</td>
                            <td>9</td>
                            </td>
                        </tr>
                    </tbody>
                </table>
</div>




</div>
</body>
</html>